# Ignore environment variables
.env 
.env.example

# Other ignores
__pycache__/
*.pyc
node_modules/


# Ignore Django migrations (but keep __init__.py so package works)
**/migrations/*
!**/migrations/__init__.py
**/migrations/*.pyc


# Media and Static (ignore generated/uploaded files, keep folders)
media/*
!media/.gitkeep
static/*
!static/.gitkeep



# ======================
# Python / Django
# ======================
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.log
*.pot
*.pyc